.TableWidget {
  border: 1px solid black;
  background: #11071F;
  flex-shrink: 0;
  height: fit-content;
  width: fit-content;
}

.TableWidgetBlock {
  --side: 25px;
  --color: transparent;
  width: var(--side);
  height: var(--side);
  border: none;
  color: white;
  background-color: var(--color);
}

.TableWidgetEmptyBlock {
  box-shadow: inset -3px -4px 5px 0 rgb(0, 0, .3);
}